<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<link href="{% static 'xchange/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'xchange/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'xchange/signin.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'xchange/js/jquery.js' %}"></script>
    	<script src="{% static 'xchange/js/bootstrap.js' %}"></script>
    	<script src="{% static 'xchange/js/post.js' %}"></script>
    	<script src="{% static 'xchange/js/jquery-2.1.3.min.js' %}"></script>
		<title> {% block title %} My Xchange {% endblock %} </title>
	</head>

	<body>
	<div class="container">

		<div>
			<a href="{% url 'home' %}" class="btn btn-default">Home</a>
			<a href="{% url 'edit_profile' %}" class="btn btn-default" role="button">Edit Profile</a>
			<a href="{% url 'logout' %}" class="btn btn-default" role="button">Logout</a>
			<a href="{% url 'followstream' %}" class="btn btn-default" role="button">Followstream</a>
		</div>
		
		<div class="form-signin">
			<h2>Welcome to the CMU Xchange!</h2>
		</div>
		{% for error in errors %}
    	<p>{{ error }}</p>
    	{% endfor %}

	    <div class="content">
		    {% block content %}
		    {% endblock %}
		</div>

	</div>
	</body>
</html>
