{% extends "xchange/base.html" %}

{% block content %}
 
{% if user %}

<div class="container">

<form method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}" class="form-signin">
    <h2 class="form-signin-heading"> 
    Edit Your Profile:
    </h2>
    <table>
        {{form.as_p}}
    </table>
    <input type="submit" class="btn btn-info" value="Confirm" />
    <a href="{%  url 'home' %}" class="btn btn-info" role="button">Cancel</a>
    {% csrf_token %}
</form>
</div>

{% endif %}
   
<div>
    {% for item in items %}
    <p>{{item}}</p>
    <p>Posted by <a href="{ % url 'profile' item.user.id %}">{{item.user.username}}</a> on {{item.time}}</p>
    {% endfor %}
</div>


{% endblock %}
