
{% extends "xchange/base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'xchange/js/todo.js' %}"></script>
<script src="{% static 'xchange/js/comment.js' %}"></script>
<div class="container">
	<div class="page-header">
	   <h2>Add your posts here:</h2>
	</div>
	<div class="jumbotron">
    	<form action="{% url 'add_item' %}" method="post" class="form-group">
	        <textarea id="status" rows="5" cols="100" maxlength="160" name="item"></textarea><br>
	        <span id="text_counter"></span><br>
	        <input type="submit" id="posting" class="btn btn-info" value="Add item">  
	        <a href="{% url 'logout' %}" class="btn btn-info" role="button">Logout</a>
            {% csrf_token %}
    	</form>
	</div>
    <div class="page-header">
        <h2>Current Posts:</h2>
    </div>
    <div class="blog" id="mylist">
        {% for item in items %}  
        <div>             
            <p class="lead bg-info">  {{item}}
            <p><img src="{% url 'photo' item.user.id %}" width="40px">Posted by <a href="{% url 'profile' item.user.id %}">{{item.user.profile_user.username}}</a> on {{item.time}}</p>
            <br>
            <!--
            <form action="{% url 'comment_form' item.id %}" method="post" class="form-group">
                <textarea name="content" class="field span10" rows="2" maxlength="50" id="comment-content-{{item.id}}"></textarea> 
                <br> 
                 <input type="submit" class="btn btn-info" value="Add Comment"/>
                <br>
                {% csrf_token %}
            </form>
            -->
           
            <div>   
                <textarea class="field span10" rows="2" maxlength="50" id="comment-content-{{item.id}}"></textarea> 
                <br> 
                 <input class="btn btn-info" onclick="comment({{item.id}})" value="Add Comment"/>
                <br>
            </div>
           
            <div id="comment-{{item.id}}">
                {% for comment in item.comment_set.all %}
                  
                <div >
                    <p><img src="{% url 'photo' comment.user.profile_user.id %}" width="40px"> commented By <a href="{% url 'profile' comment.user.profile_user.id %}">{{comment.user.profile_user.username}}</a> on {{comment.time}}</p>
                </div>
                <div>
                    <p class="post">{{comment.comment}}</p>
                </div>
                <br>
                
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

