
{% extends "xchange/base.html" %}

{% block content %}

<div class="container">

    <form method="post" class="form-signin" action="{% url 'django.contrib.auth.views.login' %}">
        <h2 class="form-signin-heading">
        Please sign in:
        </h2>
        <table>
            <tr>
                <td>{{ form.username.label_tag }} </td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }} </td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        
        <input type="submit" class="btn btn-info" value="Login" />
        <a href="/register" class="btn btn-info" role="button">Register</a>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
</div>

{% endblock %}

