{% extends "socialnetwork/base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'socialnetwork/js/comment.js' %}"></script>
<form action="{% url 'profile' user.id %}" method="get">

<div class="jumbotron">

    <div>
        {% if user %}
        <div class="page-header">
        <h2>User Profile</h2>
        </div>
        <img src="{% url 'photo' profile.id %}" width="200px">
        <p>User Name: {{user.username}}</p>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Age: {{profile.age}}</p>
        <p>Biography: {{profile.bio}}</p>
        {% if state == "1" %}
        <a href="{% url 'follow' profile.id %}">Follow</a>
        {% elif state == "2" %}
        <a href="{% url 'unfollow' profile.id %}">Unfollow</a>
        {% endif %}
        <br>
        <div class="page-header">
        <h2>All Posts of {{user.username}}</h2>
        </div>
        {% endif %}
    </div>
    <div>
        {% for item in items %}  
        <div>             
            <p class="lead bg-info">  {{item}}
            <p><img src="{% url 'photo' item.user.id %}" width="40px">Posted by <a href="{% url 'profile' item.user.id %}">{{item.user.profile_user.username}}</a> on {{item.time}}</p>
            <br>
            <!--
            <form action="{% url 'comment_form' item.id %}" method="post" class="form-group">
                <textarea name="content" class="field span10" rows="2" maxlength="50" id="comment-content-{{item.id}}"></textarea> 
                <br> 
                 <input type="submit" class="btn btn-info" value="Add Comment"/>
                <br>
                {% csrf_token %}
            </form>
            -->
           
            <div>   
                <textarea class="field span10" rows="2" maxlength="50" id="comment-content-{{item.id}}"></textarea> 
                <br> 
                 <input class="btn btn-info" onclick="comment({{item.id}})" value="Add Comment"/>
                <br>
            </div>
           
            <div id="comment-{{item.id}}">
                {% for comment in item.comment_set.all %}
                  
                <div >
                    <p><img src="{% url 'photo' comment.user.profile_user.id %}" width="40px"> commented By <a href="{% url 'profile' comment.user.profile_user.id %}">{{comment.user.profile_user.username}}</a> on {{comment.time}}</p>
                </div>
                <div>
                    <p class="post">{{comment.comment}}</p>
                </div>
                <br>
                
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</form>
{% endblock %}
